.head {
    color: white;
    font-size: 26px;
    background:#000080;
    text-align: center;
    padding: 20px ;
    border-bottom: 1px solid white ;
}
.iterm {
    padding: 20px ;
    color:  white;
    font-size: 18px;
    background: #000080;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white ;
    width: 95%;
    float: left;
}
.text{
    color: black ;
    font-size: 18px ;
}
.complete{
    margin-right: 20px;
}
.del{
    width: 68px;
    height:68px;
    background: #000080;
    color: white;
    font-size: 26px;
}